@font-face {
    font-family: 'Brown';
    src: url('./font/Brown-Font/Brown\ Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Brown';
    src: url('./font/Brown-Font/BrownLight\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Brown';
    src: url('./font/Brown-Font/BrownMedium\ Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 20px;
    justify-content: center;
    font-family: "Brown", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    margin: 120px;
    padding: 0 80px;
}

.logo {
    width: 80px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.header-text>h1 {
    font-size: 36px;
    font-weight: 700;
}

.header-text>p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #737373;
}

form {
    width: 500px;
    padding: 40px;
    gap: 20px;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    border-radius: 8px;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    border: none;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
}

input {
    height: 40px;
    width: 100%;
    padding: 8px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}

select {
    padding: 8px;
    height: 40px;
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}

.long {
    grid-column: span 2;
}

button {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    font-family: "Brown", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #2EC4B6;
    color: #ffffff;
    border: none;
}

.button-terms {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    font-size: 14px;
}

/* Resposiveness */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 20px;
        margin: 0 auto;
        gap: 20px;
        width: 100%;
    }

    .logo {
        width: 40px;
    }

    .header-text>h1 {
        font-size: 24px;
        font-weight: 700;
    }

    .header-text>p {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        color: #737373;
    }

    .header {
        padding: 20px;
        margin: 0 auto;
    }

    .form-section {
        display: flex;
        width: 100%;
    }

    form {
        background-color: #ffffff;
        width: 100%;
        padding: 20px;
    }

    label {
        grid-column: span 2;
    }
}